* text=auto

Makefile text eol=lf
*.sh text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.jsonl text eol=lf
*.tex text eol=lf
*.sty text eol=lf
*.cls text eol=lf
*.bst text eol=lf
*.ist text eol=lf
*.bib text eol=lf
*.eps text eol=lf

*.otf binary
*.ttf binary
*.png binary
*.pdf binary
